@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  scroll-padding-top: 1rem;
  list-style: none;
  text-decoration: none;
}

/* variables */
:root {
  --main-color: #2196f3;
  --text-color: #020102;
  --bg-color: white;
}

html::-webkit-scrollbar {
  width: 0.7rem;
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

img {
  width: 100%;
}

body {
  color: var(--text-color);
}

section {
  padding: 4rem 0 2rem;
  min-height: 100vh;
}

.container {
  max-width: 1068px;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  text-align: center;
}

.heading span {
  font-weight: 500;
  color: var(--main-color);
}

.heading p {
  font-size: .938rem;
  font-weight: 300;
}

.btn {
  padding: 10px 22px;
  background-color: var(--main-color);
  color: var(--bg-color);
  font-weight: 400;
  transition: all .3s linear;
}

.btn:hover {
  padding: 10px 25px;
  background-color: #008cff;
  box-shadow: 2px 2px 20px rgb(0 0 0 / 50%) !important;
}

/* header */
header {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.944);
  transition: all .3s linear;
}

header.shadow {
  box-shadow: 2px 4px 4px rgb(15 54 55 / 10%);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 35px;
}

#menu-icon {
  font-size: 24px;
  cursor: pointer;
  color: var(--text-color);
  display: none;
}

.logo {
  color: var(--text-color);
  font-size: 22px;
}

.logo span {
  color: var(--main-color);
}

.logo i {
  color: var(--main-color);
  font-size: 27px;
}

.navbar {
  display: flex;
  column-gap: 2rem;
}

.navbar a {
  color: var(--text-color);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar a:hover,
.navbar .active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

header .social a {
  color: var(--black) !important;
}

header .social a:hover {
  color: var(--main-color) !important;
}

/* /header */
/* home */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 2rem;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(../images/bg.jpg) fixed;
  background-size: cover;
}

.home .home-icon {
  margin-top: 50px;
  cursor: pointer;
  color: white;
}

/* /home */
/* services */
.services-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.services-container .box {
  flex: 1 1 17rem;
  position: relative;
  height: 200px;
  border-radius: .5rem;
  overflow: hidden;
  background-color: #f6f6f6;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .2);
}

.services-container .box img {
  width: 100%;
  /* height: 100%; */
  overflow: hidden;
  transition: all .3s linear;
}

.services-container .box img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.services-container .box h2 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: var(--main-color);
  font-weight: 400;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.655);
  padding: 3px 20px;
  border-radius: 4px;
}

.services-container .box:hover h2 {
  background-color: var(--main-color);
  color: var(--bg-color);
}

.services-container .box .price {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--main-color);
  font-weight: 700;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.655);
  padding: 8px;
  border-radius: 50%;
}

.services-container .box:hover .price {
  background-color: var(--main-color);
  color: var(--bg-color);
}

/* /services */
/* about */
.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
}

.about-img {
  flex: 1 1 21rem;
}

.about-text {
  flex: 1 1 21rem;
}

.about-text span {
  font-weight: 500;
  color: var(--main-color);
}

.about-text h2 {
  font-size: 1.7rem;
}

.about-text p {
  font-size: 0.938rem;
  margin: 0.5rem 0 1.4rem;
}

/* /about */
/* gallery */
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.gallery-container .box {
  flex: 1 1 13rem;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .2);
  transform: translateY(-5px);
  transition: all .3s linear;
  border: 1px solid transparent;
}

.gallery-container .box:hover {
  transform: translateY(0);
  box-shadow: none;
  background-color: var(--bg-color);
  border: 1px solid rgb(226, 222, 222);
}

.gallery-container .box img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  object-position: center;
  margin-bottom: 1rem;
  border: 1px solid rgb(226, 222, 222);
}

.gallery-container .box h3 {
  font-size: 1.2rem;
  font-weight: 700;
}

.gallery-container .box span {
  font-size: .8rem;
  color: var(--main-color);
}

.gallery-container .box .btn-gallery {
  display: flex;
  align-items: center;
  column-gap: 4px;
  color: var(--text-color);
  transition: all .3s linear;
}

.gallery-container .box .btn-gallery i {
  font-size: 22px;
}

.gallery-container .box .btn-gallery:hover {
  color: var(--main-color);
  column-gap: 10px;
}

/* /gallery */
/* contact */
.contact-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .2);
  padding: 40px 20px;
  margin-top: 50px;
  /* background-color: var(--main-color); */
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.contact-container form h3 {
  margin-bottom: 20px;
  color: var(--main-color);
}

.contact-container .group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 100%;
}

.contact-container .group select,
.contact-container .group input,
.contact-container .group textarea {
  padding: 10px 15px;
  width: 100% !important;
  outline: none;
}

.contact-container .group select:focus,
.contact-container .group input:focus,
.contact-container .group textarea:focus {
  border: 1px solid var(--main-color);
}

.contact-container .group a {
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.contact-container input[type="submit"] {
  border: none;
  cursor: pointer;
  padding: 15px;
}

/* /contact */
/* footer */
.footer {
  margin-top: 30px;
  background-color: var(--text-color);
  color: #f6f6f6;
  padding: 4rem 0 2rem;
  border-top: 3px solid var(--main-color);
  box-shadow: -4px -10px 10px rgba(0, 0, 0, .2);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.footer-container .logo {
  color: var(--bg-color);
  margin-bottom: 1rem;
}

.footer-container .box {
  display: flex;
  flex-direction: column;
}

.social {
  display: flex;
  align-items: center;
}

.social a {
  font-size: 24px;
  color: var(--bg-color);
  margin-right: .5rem;
  transition: all .3s linear;
}

.social a:hover {
  color: var(--bg-color) !important;
  transform: scale(1.3);
}

.footer .box h3 {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  border-bottom: 1px solid #fff;
}

.footer .box a,
.footer .box p {
  color: #818181;
  transition: all .3 linear;
}

.footer .box a i {
  margin-right: 5px;
  transition: all .3 linear;
}

.footer .box a:hover,
.footer .box p:hover {
  transition: all .3 linear;
  color: var(--bg-color);
}

.copy {
  text-align: center;
  padding: 20px;
  color: var(--bg-color);
  background: var(--text-color);
  border-top: 1px solid #ccc;
}

.copy span {
  color: var(--main-color);
}

/* /footer */
/* thank */
.thank {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.thank h1 {
  color: green;
  margin-bottom: 40px;
}
.thank i {
  font-size: 70px;
  color: green;
  margin-bottom: 20px;
  margin-top: 50px;
}
/* /thank */
/* media queries */
@media (max-width: 1080px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 991px) {
  .nav {
    padding: 10px 20px;
  }

  section {
    padding: 3rem 0 1rem;
  }

  .home-text {
    padding-left: 2rem;
  }
}

@media (max-width: 768px) {
  .nav {
    padding: 10px 0;
  }

  #menu-icon {
    display: initial;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    text-align: center;
    box-shadow: 4px 4px 20px rgb(15 54 55 / 20%);
    background-color: var(--bg-color);
    /* clip-path: circle(0% at 0% 0%); */
    width: 0;
    left: -100%;
    transition: all .5s linear;
  }

  .navbar a {
    display: block;
    padding: 15px;
  }

  .navbar a:hover,
  .navbar .active {
    border-bottom: none;
    background-color: var(--main-color);
    color: var(--bg-color);
  }

  .navbar.active {
    /* clip-path: circle(144% at 0% 0%); */
    width: 100%;
    left: 0;
  }

  .gallery-container .box {
    padding: 8px;
  }

  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 727px) {
  .about {
    flex-direction: column-reverse;
  }

  .about-text {
    text-align: center;
  }
}

@media (max-width: 727px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 360px) {
  .home {
    min-height: 500px;
    text-align: center;
  }

  .home .home-text p {
    margin-bottom: 40px !important;
  }
}